body{
	font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
	padding: 0px;
	margin: 0;
	background-color: bisque;
}

.container{
	text-align: center;
	display: flex;
	justify-content: center;
}
.container > p{
	background-color: red;
	width: fit-content;
	padding: 10px;
	color: white;
	border-radius: 10px;
	font-weight: 600;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form > p{
	text-align: center;
	font-weight: 800;
}

.form > input{
	background-color: red;
	width: fit-content;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	transition: all 0.5s;
	padding: 8px;
}

.form > input:hover{
	transform: scale(1.09);
}
.ml-container{
	display: flex;
	justify-content: center;
}
.main-header{
			text-align:center;
			background-color: blue;
			height:100px;
			width:100%;
			margin:0px;
		}

.results{
	display: flex;
	justify-content: center;
}

