<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
	<div class="bubbles">
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="bubble"></div>
		<div class="container">
			<p>Spam detection for Comments on youtube/twitter</p>
		</div>

		<div class="ml-container">

			<form action="{{ url_for('predict')}}" method="POST" class="form">
				<p>Enter Your Comment Here</p>
				<!-- <input type="text" name="comment"/> -->
				<textarea name="comment" rows="4" cols="50"></textarea>
				<br />

				<input type="submit" class="btn-info" value="Predict">

			</form>
			<form action="{{url_for('predictfile')}}" method="post" class="form file-form"
				enctype="multipart/form-data">
				<p class="upload">Upload a CSV file containing messages:</p>
				<input type="file" name="file" class="form-control-file" /><br />

				<input type="submit" class="btn-info" value="Predict">
			</form>
		</div>
	</div>

	<!-- <script src="../static/script.js"></script> -->

</body>

</html>